<!DOCTYPE html>
<html>
<head>
  <title>ComicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  hello <%= current_user.username %>
  <form action="<%= destroy_current_sessions_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <button name="Log Out">Log Out</button>
  </form>
<% end %>
<%= yield %>

</body>
</html>
